footer {
  bottom: 0;
  background-color: gray;
  padding: 20px
}

header {
  background-color: gray;
  padding: 20px;
}

body{
  margin-top: 100px;
  margin-bottom: 100px;
}

button {
  margin: 5px;
}
img {
  width: 800px;
}
