

<h1>Admin Page</h1>

{{new-article article=article saveArticle="saveArticle"}}


<p>List of stories (add delete/edit buttons)</p>
{{#each model as |article|}}
{{#link-to 'article' article.id}}
<p>{{article.title}} By: {{article.author}}</p>
{{/link-to}}
{{/each}}
